.btn-reveal {
  text-decoration: underline;
  cursor: pointer;
}

.cff-container {
  position: fixed;
  align-items: center; /* Aligns children vertically in the center */
  justify-content: center; /* Optional, for horizontal centering */
  max-width: 640px;
  background-color: white;
}

.cff-container-obselete {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns children vertically in the center */
  justify-content: center; /* Optional, for horizontal centering */
  height: 100px; /* Or any specific height */
}

.cff-container .child:not(:last-child) {
  margin-bottom: 25px; /* Adds margin between children */
}

.fade-out {
  animation: fadeOutAnimation 2s forwards; /* Adjust time as needed */
}

@keyframes fadeOutAnimation {
  to {
    opacity: 0;
  }
}

p.hint {
  margin-bottom: 20px;
}

span.reveal {
  color: gray;
}